{{template "base" .}}
{{define "title"}}Contact{{end}}
{{define "main"}}
    <div style="background-color: #FFFFFF; margin-top: 5%">
        <h1 style="color:black; padding-left: 5%;padding-top: 5%;">Contact Information</h1>
        <h1 style="color:black; padding-left: 5%;padding-top: 5%;">Email: qcf@gmail.com </h1>
        <h1 style="color:black; padding-left: 5%;padding-top: 5%;">Phone number: 8-777-xxx-xx-xx </h1>
        <h1 style="color:black; padding-left: 5%;padding-top: 5%; padding-bottom: 5%;">Location: Almaty, Kazbeka.B 150, Office center 2</h1>


    </div>
{{end}}